<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= t('patient.transferring_facility') %></h4>
  </div>
  <div class="panel-body">
    <p>
      <strong><%= t('name') %></strong>
      <%= patient.admission.facility.name %>
    </p>
  </div>
</div>